---

---

<div class="logo">
	<svg xmlns="http://www.w3.org/2000/svg" width="168" height="38" viewBox="0 0 168 38" fill="none">
		<g clip-path="url(#clip0_0_736)">
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M12.9035 31.3452C14.6146 31.3452 16.3146 31.0856 18.0035 30.5666C19.6925 30.0475 21.1788 29.3028 22.4626 28.3325V18.7184H17.4628V25.6572C16.2016 26.3348 14.7831 26.6736 13.2071 26.6736C11.7209 26.6736 10.3979 26.352 9.23788 25.7087C8.09698 25.0844 7.15474 24.1517 6.51883 23.0172C5.86612 21.8666 5.53977 20.5579 5.53977 19.0911C5.53977 17.6016 5.86612 16.2816 6.51883 15.1311C7.15498 13.9952 8.10485 13.0667 9.25483 12.4565C10.4261 11.8245 11.7661 11.5085 13.2748 11.5085C15.6612 11.5085 17.6991 12.4 19.3885 14.1831L22.9016 10.9332C21.7534 9.60188 20.3346 8.58659 18.6452 7.88729C16.9567 7.18753 15.0765 6.83765 13.0045 6.83765C10.5273 6.83765 8.29788 7.36235 6.31624 8.41176C4.33459 9.46118 2.78635 10.9167 1.67153 12.7784C0.558119 14.6405 0.000942366 16.7449 1.18986e-06 19.0918C-0.000939987 21.4386 0.556472 23.5428 1.67224 25.4045C2.78659 27.2661 4.3233 28.7216 6.28235 29.7711C8.24141 30.8205 10.4485 31.3452 12.9035 31.3452ZM33.9497 31.2096C35.0754 31.2096 36.1224 31.0009 37.0909 30.5835C38.0487 30.1736 38.9027 29.5548 39.5904 28.7722V30.9393H44.5895V12.7275H39.3201V21.7325C39.3201 23.3574 38.9375 24.5816 38.1723 25.4052C37.4067 26.2287 36.3932 26.6405 35.1321 26.6405C32.6775 26.6405 31.4502 25.1736 31.4502 22.24V12.7282H26.1808V23.0172C26.1808 25.7254 26.8789 27.7678 28.2751 29.1442C29.6714 30.5207 31.5631 31.2089 33.9504 31.2089M51.7852 37.7758C53.5194 37.7758 55.0001 37.3468 56.2274 36.4889C57.4546 35.6311 58.4848 34.1532 59.3177 32.0553L67.525 12.7282H62.4582L57.325 25.0826L52.2243 12.7282H46.7862L54.6568 31.0741L54.589 31.2435C54.2285 32.0553 53.8231 32.6365 53.3728 32.9871C52.9224 33.3362 52.337 33.5108 51.6165 33.5108C51.0788 33.5068 50.5463 33.4036 50.0459 33.2066C49.531 33.0122 49.0559 32.7254 48.6441 32.3602L46.7184 36.1176C47.3038 36.6362 48.0582 37.0424 48.9815 37.336C49.9048 37.6296 50.8394 37.7758 51.7852 37.7758ZM75.5311 31.2096C77.3099 31.2096 78.8469 30.9671 80.1419 30.4819C81.4365 29.9962 82.4217 29.3136 83.0975 28.4341C83.7728 27.5541 84.1104 26.5499 84.1104 25.4214C84.1104 24.0896 83.7615 23.0515 83.0636 22.3071C82.3657 21.5626 81.5438 21.0492 80.5979 20.7668C79.6521 20.4845 78.4361 20.2195 76.9499 19.972C75.6215 19.7687 74.653 19.5541 74.0445 19.3282C73.4361 19.1024 73.1321 18.7075 73.1325 18.1438C73.1325 17.6473 73.4142 17.2412 73.9775 16.9254C74.5403 16.6092 75.3848 16.4511 76.5109 16.4511C78.4022 16.4511 80.1474 16.9026 81.7464 17.8056L83.5027 14.0482C82.6697 13.5518 81.617 13.1626 80.3445 12.8807C79.0721 12.5984 77.7942 12.4572 76.5109 12.4572C74.7768 12.4572 73.2735 12.7054 72.001 13.2019C70.729 13.6979 69.7608 14.392 69.0963 15.2842C68.4323 16.1751 68.1001 17.196 68.0996 18.3471C68.0996 19.7235 68.4544 20.784 69.1641 21.5285C69.8517 22.2594 70.7196 22.7964 71.6805 23.0856C72.6485 23.3793 73.8758 23.6388 75.3624 23.8642C76.6236 24.0224 77.558 24.2141 78.1655 24.4395C78.7739 24.6654 79.0779 25.0379 79.0775 25.5569C79.0775 26.6628 77.9629 27.2158 75.7337 27.2158C74.6302 27.2158 73.5043 27.052 72.3561 26.7245C71.2078 26.3969 70.2283 25.9739 69.4175 25.4553L67.6605 29.2459C68.517 29.8106 69.6655 30.2788 71.1059 30.6506C72.5474 31.0233 74.0224 31.2096 75.5311 31.2096Z"
				fill="white"></path>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M113.301 11.2856V5.22194H107.423V1.17944H117.653L117.653 11.2856H113.301ZM144.949 31.0215V5.79047H139.698V31.0215H144.949ZM122.121 31.0215V21.9763C122.121 20.3443 122.514 19.1147 123.3 18.2874C124.085 17.4592 125.14 17.0453 126.464 17.0458C127.653 17.0458 128.562 17.4029 129.19 18.1173C129.819 18.8312 130.133 19.9135 130.133 21.3643V31.0208H135.384V20.5491C135.384 17.8738 134.694 15.8563 133.314 14.4968C131.934 13.1373 130.122 12.4573 127.878 12.4568C126.644 12.4568 125.51 12.6662 124.478 13.0851C123.446 13.5048 122.582 14.1001 121.886 14.8709V12.7286H116.87V31.0215H122.121ZM156.741 36.598C155.517 37.4592 154.042 37.8898 152.314 37.8898C151.371 37.8898 150.44 37.7418 149.52 37.4472C148.6 37.1521 147.848 36.7441 147.265 36.2232L149.183 32.4488C149.593 32.8147 150.067 33.1027 150.58 33.2987C151.079 33.4974 151.61 33.6014 152.146 33.6051C152.864 33.6051 153.447 33.4291 153.896 33.0771C154.345 32.726 154.749 32.1425 155.108 31.3265L155.175 31.1563L147.332 12.7272H152.752L157.835 25.138L162.951 12.7272H168L159.82 32.1439C158.991 34.2521 157.964 35.7368 156.741 36.598ZM106.247 8.22223C104.384 7.28105 102.303 6.81047 100.004 6.81047C97.5582 6.81047 95.3535 7.34317 93.3897 8.40858C91.4259 9.47446 89.8888 10.9422 88.7782 12.8119C87.6676 14.6815 87.112 16.7841 87.1116 19.1196L87.1116 19.1366V19.1461C87.1116 21.3384 87.6064 23.326 88.5961 25.1091C88.655 25.2157 88.7157 25.3216 88.7782 25.4267C89.8888 27.2973 91.4259 28.7653 93.3897 29.8307C93.5167 29.8996 93.6447 29.9663 93.7737 30.0307L93.761 30.0435C95.6241 30.9847 97.7052 31.4553 100.005 31.4553C102.45 31.4553 104.655 30.9226 106.619 29.8572C108.582 28.7913 110.12 27.3235 111.23 25.4539C112.341 23.5842 112.896 21.4816 112.897 19.1461V19.1328V19.1196C112.897 16.9274 112.402 14.9397 111.412 13.1566C111.353 13.05 111.293 12.9442 111.23 12.8391C111.041 12.5206 110.84 12.2138 110.626 11.9187L106.777 15.9498C107.175 16.9131 107.375 17.9748 107.376 19.1347C107.374 20.6015 107.054 21.9113 106.417 23.0641C105.777 24.2199 104.896 25.1211 103.775 25.7676C102.652 26.4133 101.396 26.7361 100.005 26.7361C98.6135 26.7361 97.3568 26.4131 96.2344 25.7669C95.1121 25.1208 94.2311 24.2196 93.5916 23.0634C92.954 21.9106 92.6342 20.6005 92.6323 19.1329C92.6342 17.6653 92.9539 16.3549 93.5916 15.2016C94.2316 14.0459 95.1123 13.1447 96.2337 12.4981C97.356 11.8525 98.6128 11.5296 100.004 11.5296C101.134 11.5296 102.175 11.7428 103.128 12.1691L106.668 8.46181L106.619 8.43506C106.492 8.36616 106.364 8.29949 106.235 8.23505L106.247 8.22223Z"
				fill="white"></path>
		</g>
		<defs>
			<clipPath id="clip0_0_736">
				<rect width="168" height="37.4118" fill="white" transform="translate(0 0.478271)"></rect>
			</clipPath>
		</defs>
	</svg>
</div>

<style lang="scss">
	.logo {
		position: relative;

		@include des {
			width: d(168);
			height: d(38);
		}

		@include tab {
			width: t(168);
			height: t(38);
		}

		@include mob {
			width: m(126);
			height: m(29);
		}

		& svg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		&.scroll path {
			fill: var(--eggplant);
		}
	}
</style>
